:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #1D7932;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #002a50;
    --secondary: #ffcc00;
    --success: #1D7932;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #e9ecef;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}

.header{
    text-align: center;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}

.mapouter{
    margin-top: 100rem;
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
}

.box{
    width: 100%;
}

.kalenderbox {
    padding: 1rem 0.5rem;
    border: 1px solid;
    margin: 0.5rem 0;
}

.lehrer{
    text-align: center;
}

.kapazitaet{
    text-align: right;
}
 .tabs {
	display: flex;
	flex-wrap: wrap;
}
.tabs label {
	order: 1;
	margin-right: 0.2rem;
  color: #212529;
  background-color: #f5c400;
  border-color: #e6b800;
  padding: 0.45rem 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.tabs label:hover {
  cursor: pointer;
  background-color: rgba(245, 196, 0, 0.8);
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
}
.tabs input[type="button"] {
	display: none;
}
.tabs input[type="button"]:checked + label {
	background: #fff;
}
.tabs input[type="button"]:checked + label + .tab {
	display: block;
}

.tabs label:hover {
  color: #212529;
  background-color: #cfa500;
  border-color: #b38f00;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.tabs label:active {
  color: #e9ecef;
  background-color: #a18308;
  border: solid #a18308;
  background-color: #cfa500;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}