<!DOCTYPE html>

    <html>



    <head>

        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="./view/style/styles.css">

        <title>asdads</title>

    </head>



    <body>

        <form action="offener_tag_erstellen.php" method="post" >

            <p>bezeichnung: <input type="text" name="bezeichnung" id="bezeichnung" required/></p>

            <p>Intervall: <input type="number" name="intervall" id="intervall" required/></p>

            <p>Datum: <input type="date" name="datum" id="datum" required/></p>

            <p>Startuhrzeit: <input type="time" name="start" id="start" required/></p>

            <p>Enduhrzeit: <input type="time" name="ende" id="ende" required/></p>

           

            <p><input type="submit" value="Erstellen" /></p>

        </form>



</body>

</html>