$blueColor: #002a50;
$color-orange: #fc0;
$font-color: rgba(255, 255, 255, 0.9);

#tbl_exporttable_to_xls_wrapper {
    padding: 1em;
}

button.dt-button {
    order: 1;
    color: $blueColor !important;
    background-color: rgba(245, 196, 0, 0.8) !important;
    padding: 0.45rem 1rem !important;
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    border: none !important;
    float: right !important;

    &:hover {
        filter: brightness(0.8) !important;
        cursor: pointer;
    }
}

.paginate_button {
    color: $blueColor !important;
    background-color: rgba(245, 196, 0, 0.8) !important;
    padding: 0.45rem 1rem !important;
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
   
    border: none !important;

    &:hover {
        filter: brightness(0.8) !important;
        cursor: pointer;
    }
}

@media print {
    @page {
        size: auto;
        /* auto is the initial value */
        margin: 0mm;
        /* this affects the margin in the printer settings */
    }
}