.wrapper-be_startseite {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.kalenderbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inhalt_od, .neuer-od-formular {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
}
.inhalt_od p, .neuer-od-formular p {
  margin: 0;
  text-align: center;
}

.be_acc-content p {
  padding: 0.75rem 7rem;
}
.be_acc-content .buttons {
  margin-top: 0.75rem;
}
.be_acc-content .intervall-ende {
  text-align: right;
}

.neuer-od-formular span {
  padding: 1rem;
  padding-left: 0;
}
.neuer-od-formular span p {
  display: inline-block;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.bereichnung {
  text-align: center;
}

.content {
  margin: 1rem 3rem;
}

.editieren {
  order: 1;
  color: #002a50;
  background-color: rgba(245, 196, 0, 0.8);
  padding: 0.45rem 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  border: none;
  align-items: center;
}
.editieren:hover {
  filter: brightness(0.85);
  cursor: pointer;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.buttons a, .buttons form {
  text-decoration: none;
  width: calc(100% - 0.5rem);
}
.buttons a button, .buttons form button {
  width: 100%;
}