$blueColor: #002a50;


.wrapper-be_startseite {
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.kalenderbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inhalt_od,
.buttons,
.neuer-od-formular {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;

    p {
        margin: 0;
        //text-align: center;
    }
}

.neuer-od-formular {
    span {
        padding: 1rem;
        padding-left: 0;

        p {
            display: inline-block;
            padding-left: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.bereichnung {
    text-align: center;
}

.content {
    margin: 1rem 3rem;
}

.editieren {
    order: 1;
    color: $blueColor;
    background-color: rgba(245, 196, 0, 0.8);
    padding: 0.45rem 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
    border: none;
    width: calc(100% - 0.5rem);
    align-items: center;

    &:hover {
        filter: brightness(0.85);
        cursor: pointer;
    }
}

.buttons {
    margin-bottom: 0.5rem;
}

.felder-neuer-od {

            margin: 1em;
            height: 2em;
            display: inline-block;

}