$blueColor: #002a50;
$color-orange: #fc0;
$font-color: rgba(255, 255, 255, 0.9);


.accordion-be, .accordion {
    font-size: 1.5rem;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .accordion{
    display: block;
  }
  
  .accordion-header,
  .accordion-body {
    background: white;
  }
  
  .accordion-header {
    padding: 2.5em;
    background: white;
    color: $blueColor;
    cursor: pointer;
    font-size: .7em;
    letter-spacing: .1em;
    transition: all .3s;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .accordion__item {
    border-bottom: 1px solid $blueColor;
  }
  
  .accordion__item .accordion__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  
  .accordion-header:hover {
    background: rgba($color: rgb(214, 212, 212), $alpha: 0.5);
    position: relative;
    z-index: 5;
  }
  
  .accordion-body {
    background: #fcfcfc;
    color: #353535;
    display: none;
  }
  
  .accordion-body__contents {
    padding: 1.5rem;
    font-size: 1.3rem;
  }
  
  .accordion__item.active:last-child .accordion-header {
    border-radius: none;
  }
  
  .accordion:first-child>.accordion__item>.accordion-header {
    border-bottom: 1px solid transparent;
  }
  
  /*.accordion__item>.accordion-header:after {
    content: "\f3d0";
    font-family: IonIcons;
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    transition: 0.7s all;
    transform: rotate(0deg);
  }*/
  
  .accordion__item.active>.accordion-header:after {
    transform: rotate(-180deg);
  }
  
  .accordion__item.active .accordion-header {
    background: rgba($color: rgb(214, 212, 212), $alpha: 0.5);
    .bezeichnung{
      font-weight: 700;
    }
  }
  
  .accordion__item .accordion__item .accordion-header {
    background: #f1f1f1;
    color: #353535;
  }