body {
  background-color: rgba(255, 255, 255, 0.9);
}

* {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}

main {
  width: 500px;
  height: 400px;
  margin: 5rem auto;
  background-color: #002a50;
  padding: 5rem 10rem;
}

main > h1 {
  font-weight: 500;
  font-size: 45px;
}

.benutzername,
.passwort {
  border: none;
  background-color: #002a50;
  padding: 1rem 0 1rem 0.5rem;
  border-bottom: 0.5px dotted rgba(250, 250, 250, 0.4);
  margin: 0.3rem 0;
  width: 100%;
}

.passwort {
  margin-bottom: 2rem;
}

input[type=submit] {
  padding: 1rem 1.5rem;
  color: #002a50;
  border: none;
  float: right;
}

input::-moz-placeholder {
  color: #002a50;
}

input:-ms-input-placeholder {
  color: #002a50;
}

input::placeholder {
  color: #002a50;
}

input {
  color: #002a50;
}

.benutzername:focus,
.passwort:focus {
  background-color: rgba(255, 255, 255, 0.9);
  outline: none;
  color: #002a50;
}

.felder {
  margin: 1.5rem 0;
}

@media screen and (max-width: 500px) {
  main {
    margin: 1rem;
    padding: 1rem;
  }
}