$blueColor: #002a50;
$color-orange: #fc0;
$font-color: rgba(255, 255, 255, 0.9);

.footer{
    margin-top: 10rem;
    width: 100%;
}

.footer-box{
    background-color: $blueColor;
}

.shadow-box{
    background-color: $blueColor;
    opacity: 0.9;
    height: 4rem;
    z-index: 2;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
  }
  
  .mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
  }

h3, p, h5, a{
    margin: 0;
    padding: 0;
    color: $font-color;
    font-size: 1.2rem;
}
h3, h5{
    color: $color-orange;
}
h3{
    font-size: 1.5rem;
}
h5{
    margin-top: 0.6rem;
}
a{
    text-decoration: underline;
}
a:hover{
    opacity: 0.7;
}
  