#info_box {
    z-index: 1000;
    position: absolute;
    top: 1vw;
    left: 1vw;
    box-shadow: 5px 8px 21px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 21vw;
    padding: 1rem;
	border: rgba(245, 196, 0, 0.8) solid 3px;
}

.t_fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}