@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  font-weight: 450;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  margin: 0;
}
body h2,
body h3 {
  text-transform: uppercase;
}
body .tabs {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: row;
}
body .tabs .active {
  background-color: #002a50;
}
body .tabs .tab {
  order: 1;
  color: #002a50;
  background-color: rgba(245, 196, 0, 0.8);
  padding: 0.45rem 1rem;
  font-size: 1.1rem;
  line-height: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  border: none;
  float: right;
  width: 100%;
}
body .tabs .tab:hover {
  filter: brightness(0.85);
  cursor: pointer;
}
body h1,
body h2,
body h3 {
  color: #002a50;
}
body #content {
  filter: blur(0px);
}
body #captcha_background {
  z-index: 999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
body #captcha_background #captcha_box {
  z-index: 1000;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  box-shadow: 5px 8px 21px rgba(0, 0, 0, 0.2);
  background-color: white;
}
body #loading_screen {
  z-index: 997;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  /* Safari */
}
body #loading_screen #laden {
  position: fixed;
  top: 35vh;
  left: calc(50vw - 6vh);
  width: 10vh;
  height: 10vh;
  border: 2vh solid #fc0;
  border-top: 2vh solid #002a50;
  border-radius: 50%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body #wrapper,
body #wrapper-be {
  margin: 0 auto;
  padding: 1rem;
}
body #wrapper .wrapper-fuehrung_hinzufuegen,
body #wrapper-be .wrapper-fuehrung_hinzufuegen {
  margin-top: 5rem;
  margin-bottom: 7rem;
}
body #wrapper {
  max-width: 1140px;
}

.box {
  width: 100%;
}

.kalenderbox {
  padding: 1rem 0.5rem;
}

.lehrer {
  text-align: center;
}

.kapazitaet {
  text-align: right;
}

.fachrichtung .active {
  background-color: #002a50;
}

#btn_anmelden {
  /*position: fixed;
   bottom: 3rem;
   right: 5rem;*/
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
  right: 5rem;
  float: none;
  display: block;
  margin-left: auto;
  width: 10rem;
  margin-bottom: 0.5rem;
}

input[type=button]:hover {
  cursor: pointer;
}

input[type=button].active {
  background-color: white;
}

.active {
  background-color: white;
}

p {
  text-align: left;
  padding: 10px;
}

.textEins {
  padding: 0;
  margin-bottom: 0;
}

.textZwei {
  padding: 0;
  margin: 0.5rem 0 2rem 0;
}

.fachrichtung {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 10.1s;
}

.accordion-be,
.accordion {
  font-size: 1.5rem;
  margin: 0 auto;
  border-radius: 5px;
}

.accordion {
  display: block;
}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
  padding: 2.5em;
  background: white;
  color: #002a50;
  cursor: pointer;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  transition: all 0.3s;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accordion__item {
  border-bottom: 1px solid #002a50;
  max-width: 1140px;
  margin: 0 auto;
}

.accordion__item .accordion__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.accordion-header:hover {
  background: rgba(214, 212, 212, 0.5);
  position: relative;
  z-index: 5;
}

.accordion-body {
  background: #fcfcfc;
  color: #353535;
  display: none;
}

.accordion-body__contents {
  padding: 1.5rem;
  font-size: 1.3rem;
}

.asdf {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
}
.asdf div {
  margin: 1.2rem 0;
}
.asdf div p {
  margin: 0;
  padding: 0;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

/*.accordion__item>.accordion-header:after {
  content: "\f3d0";
  font-family: IonIcons;
  font-size: 1.2em;
  float: right;
  position: relative;
  top: -2px;
  transition: 0.7s all;
  transform: rotate(0deg);
}*/
.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
  background: rgba(214, 212, 212, 0.5);
}
.accordion__item.active .accordion-header .bezeichnung {
  font-weight: 700;
}

.accordion__item .accordion__item .accordion-header {
  background: #f1f1f1;
  color: #353535;
}

.form_buchung label {
  width: 10rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: large;
}
.form_buchung .refreshIcon {
  top: -54px;
}

.wrapper-fe_startseite {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.neuer-od-erstellen {
  width: auto;
}

input[type=submit], .neuer_od, #btn_loesche, .zurueck-admin-panel, #btn_drucken, #btn-zurueck {
  order: 1;
  color: #002a50;
  background-color: rgba(245, 196, 0, 0.8);
  padding: 0.45rem 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  border: none;
  max-height: 3rem;
  float: right;
}
input[type=submit]:hover, .neuer_od:hover, #btn_loesche:hover, .zurueck-admin-panel:hover, #btn_drucken:hover, #btn-zurueck:hover {
  filter: brightness(0.85);
  cursor: pointer;
}
input[type=submit]:disabled, .neuer_od:disabled, #btn_loesche:disabled, .zurueck-admin-panel:disabled, #btn_drucken:disabled, #btn-zurueck:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.zurueck-admin-panel, #btn_drucken {
  position: -webkit-sticky;
  position: sticky;
  top: 9rem;
  right: 5rem;
  float: none;
  display: block;
  margin-left: auto;
  width: 10rem;
}

#btn_drucken {
  margin-bottom: 0.5rem;
  top: 6rem;
  right: 5rem;
}

.link-admin-panel {
  text-decoration: none;
}

#btn_loesche {
  float: none;
  margin-top: 1rem;
}

#btn-zurueck {
  margin-right: 0.5rem;
}

.neuer_od {
  margin: 0 0.5rem;
  min-width: 13rem;
}

.andereStatus {
  float: left;
  margin: 0;
}

.buttons-alle_od {
  margin-top: 2rem;
}

.neuer-od-bezeichnung {
  width: 100%;
}

.alle_od {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.fuehrungspersonen,
.kapazitaet,
.felder-neuer-od,
.lehrer,
.uhrzeit,
.anmeldeinputs {
  color: #002a50 !important;
  font-size: 1.2rem !important;
  margin-left: 1rem;
  transition: all 0.3s !important;
  height: 2rem !important;
}

.anmeldeinputs {
  width: 22rem;
}

.anz-personen {
  width: 5rem;
}

.kapazitaet-none, .lehrer-none, .uhrzeit-none {
  border: none;
}

.zurueck {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  color: #002a50;
}

.zurueck:hover {
  opacity: 0.7;
}

.feld-neuer-od-bez {
  width: 100%;
  margin-left: 0;
}

.fueh-kap {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
}

.wrapper-fuehrung_hinzufuegen form .fuehrung-hinzuf {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
}
.wrapper-fuehrung_hinzufuegen form .fuehrung-hinzuf .checkbox {
  width: 1.1rem;
  height: 1.1rem;
}

.name-fachrichtung {
  padding-left: 0;
}

.feld-fachrichtung {
  min-width: 20rem;
}

@media screen and (max-width: 1000px) {
  .accordion,
.accordion-be {
    width: 100%;
  }

  .tabs {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .top_bar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media screen and (max-width: 805px) {
  .wrapper-fe_startseite {
    margin: 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  span p {
    font-size: 1.2rem;
  }

  .tabs {
    flex-direction: column;
  }
  .tabs .tab {
    text-align: center;
    width: 100%;
  }

  .logo {
    width: 120px;
    margin: 0.5rem 0;
  }

  .white-label {
    padding: 0 0.5rem !important;
  }

  .black-label p {
    font-size: 2rem;
  }

  .accordion-body__contents {
    margin-bottom: 3rem;
  }

  .form_buchung {
    display: block;
  }
  .form_buchung input[type=submit] {
    display: block;
    float: none;
    margin-top: 1rem;
  }
  .form_buchung label {
    padding-left: 0;
  }
  .form_buchung .anmeldeinputs {
    width: 100%;
    margin-left: 0;
  }

  .footer h3 {
    font-size: 1.2rem !important;
  }
  .footer p, .footer a {
    font-size: 1rem !important;
  }
  .footer h5 {
    font-size: 1.1rem !important;
  }

  .socials {
    display: none;
  }

  .accordion-header {
    display: block;
    text-align: center;
  }
  .accordion-header .kapazitaet {
    float: none;
    text-align: center;
  }
}
.active-tab {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: none;
  position: relative;
  color: #000000;
}
.active-tab:after {
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  bottom: -0.1em;
  left: 0;
  background: white;
}