.footer {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}
.footer .footer-box {
  background-color: #002a50;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.footer .shadow-box {
  background-color: #002a50;
  opacity: 0.9;
  height: 4rem;
  z-index: 2;
}
.footer .gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
}
.footer .mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  margin: 1rem 0;
}
.footer h3,
.footer p,
.footer h5,
.footer a {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
}
.footer h3,
.footer h5 {
  color: #fc0;
}
.footer h3 {
  font-size: 1.5rem;
}
.footer h5 {
  margin-top: 0.6rem;
}
.footer a {
  text-decoration: underline;
}
.footer a:hover {
  opacity: 0.7;
}
.footer .icon-cog {
  color: rgba(255, 255, 255, 0.9);
}
.footer .icon-cog:hover {
  color: #fc0;
}
.footer .socials {
  display: flex;
  flex-direction: column;
}
.footer .socials a {
  text-decoration: none;
}