$blueColor: #002a50;
$color-orange: #fc0;
$font-color: rgba(255, 255, 255, 0.9);

.footer {
    margin-top: 2rem;
    width: 100%;
    height: 100%;

    .footer-box {
        background-color: $blueColor;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 2rem;
    }

    .shadow-box {
        background-color: $blueColor;
        opacity: 0.9;
        height: 4rem;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        line-height: 4rem;
        a{
            margin: 1rem;
            vertical-align: middle;
            line-height: normal;
        }
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 100%;
    }

    .mapouter {
        position: relative;
        width: 100%;
        margin: 1rem 0;
    }

    h3,
    p,
    h5,
    a {
        margin: 0;
        padding: 0;
        color: $font-color;
        font-size: 1.2rem;
    }

    h3,
    h5 {
        color: $color-orange;
    }

    h3 {
        font-size: 1.5rem;
    }

    h5 {
        margin-top: 0.6rem;
    }

    a {
        text-decoration: underline;
    }

    a:hover {
        opacity: 0.7;
    }

    .icon-cog {
        color: $font-color;
    }

    .icon-cog:hover {
        color: $color-orange;
    }

    .socials {
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
        }
    }

}

@media (max-width:1070px) {
    .footer {
      font-size: 1rem;
        .footer-box{
            display: block;
        }
        .infos-schule, .oeffnungszeiten, .socials{
            margin-top: 3rem;
        }
    }
  }