.header {
  background-image: url("../img/school.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 41.3vh;
}
.header .white-label {
  padding: 0.7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
}
.header .socials a {
  text-decoration: none;
}
.header .socials .icon-cog {
  color: #002a50;
  font-size: 2.5em;
}
.header .socials .icon-cog:hover {
  color: #fc0;
}
.header .black-label {
  background-color: black;
  opacity: 0.75;
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 800;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.header .black-label p {
  text-align: center;
  margin: 0.2rem;
}